<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.1" targetFramework="net48" />
  <package id="Ghostscript.NET" version="1.3.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net48" />
  <package id="Magick.NET.Core" version="14.6.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.6.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.5" targetFramework="net48" />
  <package id="System.IO.Abstractions" version="22.0.14" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions" version="22.0.14" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.0.14" targetFramework="net48" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="9.0.0" targetFramework="net48" />
</packages>